<html lang = "en">
	<head>
		<meta charset = "UTF-8">
		<title>Team Up - {% block title %} This should not be seen in the title {% endblock %}
		</title>
	</head>
	<body>
		{% block content %}
		Contents of the page. This should not be seen.
		{% endblock %}
	</body>
	<footer>
		<p><a href="/">Home</a> <a href="/search">Search</a>{% if not session.logged_in %} <a href="/login">Log In</a>{% elif session.logged_in %} <a href='/personal'>Your Page</a> <a href='/logout'>Log Out</a>{% endif %}</p>
	</footer>
</html>