{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<h1>Log in!</h1>
<div>
{% for message in get_flashed_messages() %}
{{ message }}
{% endfor %}
</div>
<form method="POST">
	{{ form.hidden_tag() }}
	{{ form.email.label }} {{ form.email() }}
	{{ form.password.label }} {{ form.password() }}
    {{ form.remember_me.label }} {{ form.remember_me() }}
	{{ form.submit() }}
</form>
<p>Don't have an account? <a href="/register">Create a New Account</a></p>
{% endblock %}